:root {
    --primary-color: #2c3e50;
    --secondary-color: #f4f4f4;
    --accent-color: #ffb703;
    --text-color: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.5rem 0 0;
    text-align: center;
    font-weight: 400;
}

#course-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

/* NAVIGATION SECTION */

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}

nav ul li {
    flex: 1 0 auto;
    /* flex: [flex-grow] [flex-shrink] [flex-basis]; 
    		in this example, the items will not shrink but can grow to fill the space at natural content width*/

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}


nav a:hover {
    background-color: var(--accent-color);
    color: #000;
    text-decoration: underline;
}

main {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 1rem
}

h1 {
    margin: 0 auto 20px;
    text-align: center;
}

.parent-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    /* For grid-template-columns, I can adopt the RAM technique - repeat(auto-fit, minmax(280px, 1fr)) */
}

/*CARDS*/
.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    align-items: start;
    
    
}

.card h2 {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.card h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.card .links {
    margin: 2rem;

}

.links ul li a {
    color: #2c3e50;
    text-decoration: none;
}

.links ul li a:hover {
    text-decoration: underline;
}

/*PERSONAL INFO*/

.personal-info {
    padding: 1px;
    margin: 2px;
    padding: 1.5rem;
    
}

p {
    margin-bottom: 1rem;
    /* or 16px, 20px, etc. */
}

.personal-info img {
    display: block;
    float: right;
    margin: 0 1rem 0;
}

/*COUNTRY INFO*/
.country-info {
    padding: 1px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    
    
}

h3 {
    border-bottom: 1px solid var(--text-color);
    text-align: center;
    
    
}

.flag img {
    padding: 5px;
    margin: 0 2rem 0 0;
}

.flag p {
    font-style: italic;
    font-size: 0.8rem;
    text-align: justify;
}

/*FOOTER*/
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 0.9rem;
}

footer p {
    margin: 5px 0;
}

#lastModified {
    color: #00ff00;
    /* Green for last modified */
}